<%= turbo_frame_tag "main_content" do %>
  <div class="dashboard-header">
    <h1 class="dashboard-title">Dashboard</h1>
  </div>

  <div class="dashboard-content-layout">
    <div class="dashboard-card dashboard-main">
      <div class="dashboard-card-header">
        <h2 class="dashboard-card-title">Recent Plans</h2>
        <%= link_to "View All →", plans_path, class: "view-all-btn" %>
      </div>

      <div class="plans-column">
        <%= render @recent_plans %>
      </div>
    </div>


    <aside class="dashboard-sidebar">
      <div class="dashboard-card dashboard-navigation">
        <div class="dashboard-card-header">
         <h2 class="dashboard-card-title">Quick Actions</h2>
        </div>

        <div class="quick-actions-list">
        <%= link_to plans_path,
            data: {
            turbo_frame: "main_content",
            turbo_action: "advance"
            },
            class: "action-link" do %>
            <span class="icon">➕</span> Planner
        <% end %>

        <%= link_to inventory_items_path,
            data: {
            turbo_frame: "main_content",
            turbo_action: "advance"
            },
            class: "action-link" do %>
            <span class="icon">📦</span> Inventory
        <% end %>

        <%= link_to edit_user_registration_path, data: { turbo: false }, class: "action-link" do %>
            <span class="icon">⚙️</span> Settings
        <% end %>
        </div>
      </div>

      <div class="dashboard-card dashboard-game-profile">
        <div class="dashboard-card-header">
          <h2 class="dashboard-card-title">SOL3 Phase</h2>
        </div>

        <%= form_for(current_user, url: update_user_registration_path, html: { method: :patch, data: { turbo: false } }) do |f| %>
          <div class="auth-form-group">
            <%= f.select :sol3_phase,
                options_for_select((1..8).map { |i| ["Phase #{i}", i] }, current_user.sol3_phase),
                { include_blank: current_user.sol3_phase.nil? ? "Select Phase" : false },
                { class: "game-profile-select" } %>
          </div>

          <div style="padding-top: 1rem;">
            <%= f.submit "Save", class: "game-profile-save" %>
          </div>
        <% end %>
      </div>

    </aside>
  </div>
<% end %>
