<%# locals: (plan:) %>

<div id="<%= dom_id(plan) %>" class="plan-card">
  <div class="plan-card-header">
    <div class="plan-card-subject">
      <div class="plan-card-portrait">
        <% if plan.subject.image_url.present? %>
          <%= image_tag(plan.subject.image_url, alt: plan.subject.name) %>
        <% else %>
          <span class="portrait-initials"><%= plan.subject.name[0..1].upcase %></span>
        <% end %>
      </div>

      <h3 class="plan-card-title">
        <%= plan.plan_data.dig("input", "subject_name") %>
      </h3>
    </div>

    <div class="plan-actions">
      <%= link_to "Edit",
          edit_plan_path(plan),
          data: { turbo_frame: "modal" },
          class: "edit-link" %>

      <%= link_to "Delete",
          confirm_delete_plan_path(plan),
          data: { turbo_frame: "modal" },
          class: "delete-link" %>
    </div>
  </div>

  <div class="plan-card-body">
    <% sorted_plan_materials(plan.plan_data.dig("output")).each do |mat_id, qty| %>
      <% material = @materials_lookup[mat_id.to_i] %>
      
      <div class="material-grid-item">
        <div class="item-icon rarity-border-<%= material.rarity %>">
          <div class="rarity-bg-<%= material.rarity %>">
            <% if material.image_url.present? %>
              <%= image_tag(material.image_url, alt: material.name)%>
            <% else %>
              <span class="icon-initials"><%= material.name[0..1].upcase %></span>
            <% end %>
          </div>
        </div>

        <div class="mat-details">
          <span class="quantity-number"><%= format_quantity(qty) %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
